.v-btn:hover::before,
.v-btn:focus-within::before,
.v-btn:focus::before {
  @include sp {
    opacity: 0 !important;
  }
}

.row {
  margin: 0;
}

.v-menu__content, .v-list {
  border-radius: 2px;
}

h1 {
  font-size: 1.8rem;
  margin: 10px 0;
  color: grey;
}

h2 {
  color: rgba(0,0,0,.4);
  font-weight: 500;
}